.swiper-container {
    /* outline: red dotted 1px; */
    width: 100%;
    height: 100vh;
  }
  .swiper-slide {
    text-align: center;
    display: grid;
    place-content: center;
  }

  .swiper-container-v {
    color: green;
  }