:root {
  --swiper-theme-color: white;
}

.swiper-container {
  /* outline: red dotted 1px; */
  width: 100%;
  height: calc(100vh - 3rem);
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  height: .75rem;
  width: .75rem;
}

.swiper-container-vertical {
  /* color: green; */
}

.swiper-pagination-bullet {
  /* background: green ; */
}

