:root {
  --swiper-theme-color: white;
}

.swiper-container {
  width: 100%;
  height: calc(var(--vh) - 6rem);
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  height: .75rem;
  width: .75rem;
}



